/*-- about --*/

.about p {
    font-size: 15px;
    font-weight: normal;
    color: #555;
}

.about-grids h4 {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    padding-top: 5px;
    color: #eee;
    border-top: 1px solid rgba(78, 75, 75, 0.2);
}

.dental img {
    max-width: 100%;
    padding: 0 1em;
}

.grid p {
    color: #ddd;
    margin-top: 10px;
    line-height: 24px;
    font-size: 14px;
}

h4.about-left {
    font-size: 32px;
    color: #353c4e;
    text-transform: capitalize;
}

.grid span.fa {
    color: #eee;
}

.about-grids .grid {
    display: inline-block;
    padding: 20px 25px;
}

.about-box .icon,
.ser_icon .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    line-height: 80px;
    text-align: center;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    background: #00bcd5;
}

.about-box .icon span.fa {
    font-size: 2em;
    line-height: 80px;
    color: #ffffff;
}

.about-box h4 {
    text-transform: uppercase;
    font-size: 1em;
    margin: 1em 0;
    color: #353c4e;
    font-weight: 600;
}


/*-- //about --*/