/*-- footer --*/

footer,
.copyright {
    background: #191919;
}

.copyright {
    border-top: 1px solid #555;
}

.footer-grids h4 {
    color: #eee;
    font-size: 25px;
}

.footer-grids h5 {
    color: #666;
}

.footer-grids h5 span {
    color: #00bcd5;
}

.footer-grids p,
.footer-grids p a,
.copyright p,
.copyright p a {
    font-size: 15px;
    color: #777;
    font-weight: normal;
    letter-spacing: .5px;
    font-family: 'Open Sans', sans-serif;
}

.footer-grids ul li a {
    font-size: 15px;
    color: #777;
    font-weight: normal;
    letter-spacing: .5px;
    font-family: 'Open Sans', sans-serif;
}

.footer-grids ul li {
    list-style-type: none;
}

.footer-grids input[type="email"] {
    background: #fff;
    box-shadow: none !important;
    padding: 12px 15px;
    color: #777;
    font-size: 14px;
    width: 67% !important;
    border: none;
    letter-spacing: 1px;
    outline: none;
}

.footer-grids button.btn {
    background: #00bcd5;
    color: #fff;
    font-size: 14px;
    width: 33% !important;
    letter-spacing: 1px;
    padding: 12px;
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}


/*-- //footer --*/