/* header */


/* CSS Document */

header {
    position: absolute;
    z-index: 9;
    width: 100%;
    background: #00bcd5;
}

.toggle,
[id^=drop] {
    display: none;
}


/* Giving a background-color to the nav container. */

nav {
    margin: 0;
    padding: 0;
    float: right;
}

.clear {
    clear: both;
}

div#logo {
    float: left;
}

#logo a {
    float: left;
    font-size: .8em;
    text-transform: capitalize;
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    padding: 3px 0;
    font-weight: 600;
}

#logo a span {
    color: #fff;
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}


/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}


/* Positioning the navigation items inline */

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
}


/* Styling the links */

nav a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 10px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

nav ul li ul li:hover {
    background: #f8f9fa;
}


/* Background color change on Hover */

nav a:hover {
    color: #FFF;
}

nav ul.inner-ul li a:hover {
    color: #333;
}


/* Hide Dropdowns by Default
 * and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 30px;
    background: #fff;
    padding: 10px;
}


/* Display Dropdowns on Hover */

nav ul li:hover>ul {
    display: inherit;
}


/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}


/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */

li>a:only-child:after {
    content: '';
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width: 991px) {
    nav {
        float: none;
    }
    div#logo {
        float: none;
    }
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    .login-icon {
        display: inline-block;
    }
    nav {
        margin: 0;
    }
    nav a,
    nav a:hover {
        color: #333;
    }
    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle+a,
    .menu {
        display: none;
    }
    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 7px 15px;
        font-size: 17px;
        text-decoration: none;
        border: none;
        float: right;
        background-color: #fff;
        color: #009688;
        color: #00bcd5;
        letter-spacing: 1px;
    }
    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        width: 30%;
        padding: 5px;
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 1px;
    }
    .toggle:hover {
        color: #333;
        background-color: #fff;
    }
    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
        background: #fff;
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }
    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
        padding: 5px 0;
    }
    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }
    nav ul ul ul a {
        padding: 0 80px;
    }
    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
    }
    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #fff;
    }
    nav ul ul li a {
        font-size: 15px;
    }
    ul.inner-ul {
        padding: 0!important;
    }
    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }
    /* Hide menus on hover */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }
    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }
    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }
}

@media all and (max-width: 330px) {
    nav ul li {
        display: block;
        width: 94%;
    }
}

.user span.fa {}

.login-icon a,
.login-icon a:hover {
    border-radius: 5px;
    border: 2px solid #fff;
    padding: 0.4em 1.7em;
    color: #00bcd5;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: capitalize;
    display: block;
    font-size: 1em;
    background: #fff;
    box-shadow: 0 0px 45px rgba(0, 0, 0, .2);
}


/*-- //header --*/