<!-- //header -->
<header class="py-3">
    <div class="container">
        <div id="logo">
            <h1> <a href="/home"><span class="fa fa-stethoscope" aria-hidden="true"></span> Dental Health</a></h1>
        </div>
        <!-- nav -->
        <nav class="d-lg-flex">

            <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
            <input type="checkbox" id="drop" />
            <ul class="menu mt-2 ml-auto">
                <li class="active"><a href="/home">Home</a></li>
                <li class=""><a href="/about">About Us</a></li>
                <li class=""><a href="/service">Services</a></li>
                <li class=""><a href="/gallery">Gallery</a></li>
                <li class=""><a href="/blog">Blog</a></li>
                <li class=""><a href="/contact">Contact Us</a></li>
            </ul>
            <div class="login-icon ml-2">
                <a class="user" href="/contact"> Book Now</a>
            </div>
        </nav>
        <div class="clear"></div>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->