<div>
    <app-banner></app-banner>

    <!-- Services -->
    <section class="services-inner py-5">
        <div class="container py-md-3">
            <h2 class="heading text-center mb-sm-5 mb-4">Services </h2>
            <div class="row service-grids">
                <div class="row col-lg-6 mb-5 padder-none">
                    <div class="col-sm-3 ser_icon">
                        <span class="icon bg1 mx-auto">
              <span class="fa fa-heartbeat"></span>
                        </span>
                    </div>
                    <div class="col-sm-9 mt-sm-0 mt-3">
                        <h4>Root Canal and Teeth Whitening</h4>
                        <p class="">Quisque ac sapien quis orci pulvinar finibus quisn eu urna Quisque Suspendisse id felisut sed felise tincidunt finibus. Nulla sed justo tellus. Donec et felis ante ipsum urna Quisque sed felis dolor.
                        </p>
                    </div>
                </div>
                <div class="row col-lg-6 mb-sm-5 padder-none">
                    <div class="col-sm-9 text-sm-right">
                        <h4> Orthodontics and Dental Filling</h4>
                        <p class="">Quisque ac sapien quis orci pulvinar finibus quisn eu urna Quisque Suspendisse id felisut sed felise tincidunt finibus. Nulla sed justo tellus. Donec et felis ante ipsum urna Quisque sed felis dolor.
                        </p>
                    </div>
                    <div class="col-sm-3 mt-sm-0 mt-4 ser_icon ser-right">
                        <span class="icon bg2 mx-auto">
              <span class="fa fa-stethoscope"></span>
                        </span>
                    </div>
                </div>
                <div class="row col-lg-6 mb-lg-0 mb-5 mt-sm-0 mt-5 padder-none">
                    <div class="col-sm-3 mb-sm-0 mb-4 ser_icon">
                        <span class="icon bg3 mx-auto">
              <span class="fa fa-bullseye"></span>
                        </span>
                    </div>
                    <div class="col-sm-9">
                        <h4>Tooth Extraction Treatment</h4>
                        <p class="">Quisque ac sapien quis orci pulvinar finibus quisn eu urna Quisque Suspendisse id felisut sed felise tincidunt finibus. Nulla sed justo tellus. Donec et felis ante ipsum urna Quisque sed felis dolor.
                        </p>
                    </div>
                </div>
                <div class="row col-lg-6 padder-none">
                    <div class="col-sm-9 text-sm-right">
                        <h4>Daily Routine Check-up</h4>
                        <p class="">Quisque ac sapien quis orci pulvinar finibus quisn eu urna Quisque Suspendisse id felisut sed felise tincidunt finibus. Nulla sed justo tellus. Donec et felis ante ipsum urna Quisque sed felis dolor.
                        </p>
                    </div>
                    <div class="col-sm-3 mt-sm-0 mt-4 ser_icon ser-right">
                        <span class="icon bg4 mx-auto">
              <span class="fa fa-user-md"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Services -->

    <app-services></app-services>
    <app-join></app-join>

</div>