/*-- about bottom --*/

.bottom-grids h4 {
    font-size: 36px;
    color: #353c4e;
    line-height: 50px;
    text-transform: capitalize;
}

.bottom-grids p {
    font-size: 15px;
    font-weight: normal;
    color: #555;
    letter-spacing: .5px;
}


/*-- //about bottom --*/