<!-- about bottom -->
<section class="about-bottom pb-5">
    <div class="container pb-lg-3">
        <div class="row bottom-grids">
            <div class="col-lg-6">
                <img src="../../../assets/images/about.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <h4>Routine Dental Exams and Check ups at 30$.</h4>
                <p class="py-3">Suspendisse id felis sed felis tincidunt finibus. Nulla sed in justo inter tellus. Donec ut felis ante. Quisque acin sapien quis orci pulvinar finibus quis urna. onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac
                    quis eu urna Quisque quis eu urna lorem elit.</p>
                <p class="">Quisque ac sapien quis orci pulvinar finibus quis eu urna Quisque Suspendisse id felis sed felis tincidunt finibus. Nulla sed justo tellus. Donec ut felis ante ipsum.</p>
            </div>
        </div>
    </div>
</section>
<!-- //about bottom -->