<section>
    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
    </nav> -->

    <app-alert></app-alert>
    <app-contact-header></app-contact-header>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    <app-copy-right></app-copy-right>
    <app-move-top></app-move-top>
</section>