/*-- About page --*/

.innerpage-banner {
    background: url(../../../assets/images/innerbg.jpg) no-repeat center;
    background-size: cover;
    min-height: 300px;
}

.inner-page-layer {
    background: rgba(0, 0, 0, 0.2);
    min-height: 300px;
}


/* team */

.team-member,
.team-member .team-img {
    position: relative;
}

.team-member {
    overflow: hidden;
}

.team-member,
.team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    margin: 0;
    border: 12px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.team-member:hover .team-hover .desk {
    top: 30%;
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 10px;
}

.desk,
.desk h4,
.team-hover .s-link a {
    text-align: center;
    color: #eee;
    text-transform: capitalize;
}

.desk p {
    font-size: 14px;
    letter-spacing: .5px;
    color: #aaa;
    margin-top: 10px;
}

.team-member:hover .team-hover .s-link {
    bottom: 10%;
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}

.team-member .s-link a {
    margin: 0 2px;
    color: #fff;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.3);
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
}

.team-title {
    position: static;
    padding: 20px 0 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}

.team-title h5 {
    margin-bottom: 0px;
    display: block;
    font-size: 22px;
    color: #353c4e;
}

.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}


/* //team */


/*-- create --*/

.create {
    background: url(../../../assets/images/blog1.jpg) no-repeat center;
    background-size: cover;
}

.extra_layer {
    background: rgba(0, 0, 0, 0.5);
}

.create h4 {
    font-size: 30px;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.create p {
    font-size: 15px;
    color: #eee;
    letter-spacing: .5px;
    width: 70%;
    margin: auto;
}


/*-- //create --*/


/*-- //About page --*/