/*-- banner --*/

.banner {
    background: #fff;
}

.layer1 {
    background: rgba(0, 0, 0, 0.4);
}

.banner-text-agile {
    padding: 11vw 0 5vw;
    box-sizing: border-box;
    opacity: 1;
}

h3.b-w3ltxt span {
    font-weight: 300;
    text-shadow: none;
    letter-spacing: 1px;
    color: #353c4e;
}

h3.b-w3ltxt {
    font-size: 4em;
    color: #353c4e;
    font-weight: 800;
    line-height: 75px;
    padding-top: 1em;
}

.carousel-item p {
    color: #777;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 30px;
}

.btn-banner,
.btn-banner1 {
    background: #00bcd5;
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 25px;
    display: inline-block;
}

.btn-banner1 {
    background: #ed948e;
}

.btn-banner:hover,
.btn-banner1:hover {
    color: #fff;
}

.carousel-indicators {
    position: absolute;
    bottom: -53px;
    margin-left: 0;
    justify-content: flex-start;
    z-index: 1;
}

.carousel-indicators li.active {
    cursor: pointer;
    background: #00bcd4;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #333;
    cursor: pointer;
}


/*-- //banner --*/