<app-banner></app-banner>
<app-about></app-about>
<app-about-bottom></app-about-bottom>
<app-services></app-services>
<app-testimonials></app-testimonials>
<app-blog></app-blog>
<app-appointment></app-appointment>