<!-- appointment -->
<section class="appointment text-center py-5">
    <div class="container py-sm-3">
        <h4>make your dream smile a reality</h4>
        <p class="mt-3">Call Us To Book Your Appointment Today</p>
        <a href="/contact">Book an Appointment</a>
    </div>
</section>
<!-- //appointment -->