/*-- appointment --*/

.appointment {
    background: #00bcd5;
}

.appointment h4 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
}

.appointment p {
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
}

.appointment a {
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 12px 30px;
    display: inline-block;
    border: 2px solid #fff;
    margin-top: 20px;
}


/*-- //appointment --*/