/*-- join --*/

.join p {
    font-size: 15px;
    color: #777;
    font-weight: normal;
    letter-spacing: .5px;
}

.join h4 {
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 600;
    color: #333;
}


/*-- //join --*/