<!-- join -->
<section class="join py-5">
    <div class="container py-lg-5 py-sm-3">
        <div class="row join_grids">
            <div class="col-lg-6">
                <img src="../../../assets/images/b.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6">
                <h4 class="mt-4">Make Your Appointment Today</h4>
                <p class="py-sm-4 py-3">Suspendisse id felis sed felis tincidunt finibus. Nulla sed justo tellus. Donec ut felis ante. Quisque ac sapien quis orci pulvinar finibus quis eu urna. onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper
                    Nullam dui mi.</p>
                <p class="pb-3">Suspendisse id felis sed felis tincidunt finibus. Nulla sed justo tellus. Donec ut felis ante. Quisque ac sapien quis orci.</p>
                <a class="btn btn-banner text-capitalize" href="#" role="button">Book Now</a>
            </div>
        </div>
    </div>
</section>
<!-- //join -->